{% extends "base.html" %}
{% block content %}


      <div class="abt" style="background-color: whitesmoke;">
        <div class="maps text-center" style="padding-top: 40px;">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d27159.344951683346!2d76.49793113871225!3d31.690806294694873!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3904d44c8c5639a5%3A0x2315ba2666cfba94!2sHamirpur%2C%20Himachal%20Pradesh!5e0!3m2!1sen!2sin!4v1689224463006!5m2!1sen!2sin" width="90%" height="500" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
        <div class="header" style="color: gray; padding: 40px 60px;">
            <h2>How we work</h2> <hr>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui eius ad sapiente consectetur magni iusto aut quidem quia, ipsum nisi placeat quibusdam nam tempora repellat quisquam modi quo nihil aliquam tenetur deserunt obcaecati beatae, ipsa sed asperiores! Explicabo quam id voluptates quasi error facere delectus vero? Numquam fuga incidunt voluptates!</p>
            <br>
            <br>
            <h2>Privacy policy</h2> <hr>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem vel asperiores laborum consectetur, aliquam similique autem vero velit libero, aperiam obcaecati repellat id modi unde. Aut numquam excepturi beatae exercitationem deleniti nihil nulla sunt soluta cumque ratione fugit, quas culpa odio optio ipsa laudantium possimus ipsum doloribus amet? Veniam, harum.</p>
            <br>
            <br>
            <h2>Visit Developer's Portfolio</h2> <hr>
            <p>Click the link below to go to the portfolio.</p>
            <br>
            <br>
            <br>
            <p class="copywrt text-center">Copyright &copy; 2023. All rights reserved. </p>
        </div>

      </div>
    
      {% endblock %}